---
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Lint
jobs:
  super-linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Lint Code Base
        uses: super-linter/super-linter@v8.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JSCPD: false
          VALIDATE_DOCKERFILE: false
